<div class="wrap">
    {{#MOBILE_CARD}}
    <div class="boxcard clearfix">
        <h2>Mua mã thẻ điện thoại</h2>
        <ul>
            {{list_mobile_card}}
        </ul>
    </div>
    {{/MOBILE_CARD}}
    {{#GAME_CARD}}
    <div class="boxcard clearfix">
        <h2>Mua mã thẻ game</h2>
        <ul>
            {{list_game_card}}
        </ul>
    </div>
    {{/GAME_CARD}}
    {{#TOPUP_MOBILE}}
    <div class="boxcard clearfix">
        <h2>Nạp tiền điện thoại</h2>
        <ul>
            {{list_topup_mobile}}
        </ul>
    </div>
    {{/TOPUP_MOBILE}}
    {{#TOPUP_GAME}}
    <div class="boxcard clearfix">
        <h2>Nạp tiền game</h2>
        <ul>
            {{list_topup_game}}
        </ul>
    </div>
    {{/TOPUP_GAME}}
</div>