<div class="wrap">
    <div class="boxcard clearfix">
        <h2>Mua mã thẻ điện thoại</h2>
        <ul>
            <li><a href="#"><span class="sprt labeldis"></span><span class="sprt labelpro"></span><span class="sprtcard logocard viettel"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard mobifone"></span></a></li>
            <li><a href="#"><span class="sprt labelpro"></span><span class="sprtcard logocard vinaphone"></span></a></li>
            <li><a href="#"><span class="sprt labeldis"></span><span class="sprtcard logocard vietnamobile"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard gmobile"></span></a></li>
        </ul>
    </div>
    <div class="boxcard clearfix">
        <h2>Mua mã thẻ game</h2>
        <ul>
            <li><a href="#"><span class="sprtcard logocard zing"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard garena"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard vtc"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard gate"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard ongame"></span></a></li>
            <li><a href="#"><span class="sprt labeldis"></span><span class="sprtcard logocard mobay"></span></a></li>
        </ul>
    </div>
    <div class="boxcard clearfix">
        <h2>Nạp tiền điện thoại</h2>
        <ul>
            <li><a href="#"><span class="sprtcard logocard viettel"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard mobifone"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard vinaphone"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard vietnamobile"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard gmobile"></span></a></li>
            <li><a href="#"><span class="sprtcard logocard viettel"></span></a></li>
        </ul>
    </div>
    <div class="boxcard clearfix">
        <h2>Nạp tiền game</h2>
        <ul>
            <li><a href="#"><span class="sprt labeldis"></span><span class="sprtcard logocard zxu"></span></a></li>
        </ul>
    </div>
</div>