<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{static_url}}/css/jcarousel.responsive.css?version={{static_version}}" />
        <link rel="stylesheet" type="text/css" href="{{static_url}}/css/screen.css?version={{static_version}}" />
        <script type="text/javascript" src="{{static_url}}/js/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="{{static_url}}/js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="{{static_url}}/js/jcarousel.responsive.js"></script>
        <script type="text/javascript" src="{{static_url}}/js/common.js?version={{static_version}}"></script>
        <script type="text/javascript" src="{{static_url}}/js/script.js?version={{static_version}}"></script>
        <title>Thẻ Giá Rẻ - Mua lẻ với giá sỉ</title>
    </head>
    <body>
        <div class="top">
            <div class="wrap">
                <h1 class="logo"><a href="/" title="Trang chủ"><img src="{{static_url}}/images/logo.png" alt=""></a></h1>
                <ul>
                    {{list_news}}
                </ul>
            </div>
        </div>
        <div class="menu">
            <div class="wrap">
                <ul>
                    <li><a class="current" href="/"><span class="sprt icohome"></span></a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">BẢNG GIÁ</a></li>
                    <li class="end"><b>0908 246 357</b> <em>HOTLINE</em></li>
                </ul>
            </div>
        </div>
        <div class="hotnews">
            <div class="wrap">Không cần tạo tài khoản: <strong>AN TOÀN - ĐƠN GIẢN - GIÁ RẺ.</strong> 
                <p>Khuyến mãi: <b>Miễn phí dịch vụ khi thanh toán qua thẻ ATM</b></p>
            </div>
        </div>
        <div class="main clearfix">
            {{main_content}}
        </div>
        <div class="footer clearfix">
            <div class="wrap">
                <h4>HỖ TRỢ THANH TOÁN</h4>
                <div class="jcarousel-wrapper">
                    <div class="boxbank clearfix jcarousel" data-jcarousel="true">
                        <ul>
                            {{list_bank}}
                        </ul>
                    </div>
                    <a class="icoarrow" href="#"><span class="sprt icoarrowpre dis jcarousel-control-prev" data-jcarouselcontrol="true"></span></a>
                    <a class="icoarrow rt" href="#"><span class="sprt icoarrownext jcarousel-control-next" data-jcarouselcontrol="true"></span></a>
                </div>
                <div class="boxend">
                    <p class="fl">
                        Bản quyền của <b>Công ty TNHH Giải Pháp Phần Mềm PTA Việt Nam</b><br>
                            Giấy phép kinh doanh số 0312401085
                    </p>
                    <p class="fr"><a href="#"><span class="sprt logobct"></span></a></p>
                </div>
            </div>
        </div>
        <div class="esalepopup_overlay" id="formPopup" style="display: none">
            <div class="popup_center esalepopup pu_med" id="boxPopup">
                <a href="javascript:;" onclick="closePopup();" class="esalepuclose" title="Đóng">
                    <span></span>
                </a>
                <div class="esaleputitle">
                    <strong id="popup_title"></strong>
                </div>
                <div class="esalepucont" id="popup_content">

                </div>
                <div class="esalepubot">
                    <div class="esalepubtn" id="popup_footer">
                        <a href="javascript:;" class="cancelbtn" onclick="closePopup();">Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>