<div class="wrap">
    <div class="localpath"><a href="javascript:;">Trang chủ</a><span class="sprt icolocalpath"></span><a href="javascript:;">Mua mã thẻ điện thoại</a><span class="sprt icolocalpath"></span><em>Viettel</em></div>
    <div class="boxpayment clearfix">
        <div class="row">
            <span class="row_st">Thanh toán</span>
            <span class="row_nd"><span>{{total_amount}} <em>VNĐ</em></span></span>
        </div>
        <p>Chọn ngân hàng thanh toán</p>
        <ul class="clearfix" id="listBank">
            {{list_bank}}
        </ul>
        <p class="ctnbtn">
            <a href="javascript:;" onclick="acceptPayment();" class="btnaction">Thanh toán</a>
            <a href="javascript:;" class="btncancel">Quay lại</a>
        </p>
    </div>
</div>