<div class="wrap">
    <div class="localpath"><a href="#">Trang chủ</a><span class="sprt icolocalpath"></span><a href="#">{{title}}</a></div>
    <div class="boxcontent clearfix">
        <div class="colfrist fl">
            <div class="bxcontent card">
                <div class="row">
                    <span class="row_st">Trạng thái</span>
                    <span class="row_nd">{{status}}</span>
                </div>
                <div class="row">
                    <span class="row_st">Mã giao dịch</span>
                    <span class="row_st"><strong>{{order_no}}</strong></span>
                    <span><em>(Vui lòng ghi nhớ Mã giao dịch để cung cấp cho chúng tôi khi cần)</em></span>
                </div>
                <div class="row">
                    <span class="row_st">Ngày giao dịch</span>
                    <span class="row_nd"><strong>{{date_trans}}</strong></span>
                </div>
                <div class="row">
                    <span class="row_st">Tổng tiền</span>
                    <span class="row_nd"><strong style="color:red">{{total_amount}} VNĐ</strong></span>
                </div>
                {{#CARD}}
                <table class="result" width="100%" border="0" cellspacing="0" cellpadding="10">
                    <thead>
                        <tr>
                            <th>Loại thẻ</th>
                            <th>Số seri</th>
                            <th>Mã thẻ</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{list_card}}
                        <tr>
                            <td class="boxcard">&nbsp;</td>
                            <td class="colbtn" colspan="2">
                                <a class="btnaction" href="#">Xuất Exel</a>
                                <a class="btnaction" href="#">Copy mã thẻ</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{/CARD}}
            </div>
        </div>
        <div class="colsecond fr">
            <h3>Bảng giá thẻ điện thoại</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tbody><tr class="titletbl">
                        <td>Mệnh giá</td>
                        <td>Giá bán</td>
                    </tr>
                    <tr class="txtprotbl">
                        <td colspan="2">Giảm giá <span>4%</span>  thẻ <strong>VIETTEL, MOBI, VINA</strong></td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>10.000</td>
                        <td>9.600</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>20.000</td>
                        <td>19.200</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>50.000</td>
                        <td>48.000</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>100.000</td>
                        <td>96.000</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>200.000</td>
                        <td>196.000</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>300.000</td>
                        <td>288.000</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>500.000</td>
                        <td>480.000</td>
                    </tr>
                    <tr class="txtprotbl">
                        <td colspan="2">Giảm giá <span>5%</span>  thẻ <strong>GMOBILE, VNMOBILE</strong></td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>10.000</td>
                        <td>9.500</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>20.000</td>
                        <td>19.000</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>50.000</td>
                        <td>47.500</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>100.000</td>
                        <td>95.000</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>200.000</td>
                        <td>190.000</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>300.000</td>
                        <td>285.000</td>
                    </tr>
                    <tr class="bgwhitetbl end">
                        <td>500.000</td>
                        <td>475.000</td>
                    </tr>
                </tbody></table>
        </div>
    </div>
</div>