<div class="wrap">
    <div class="localpath"><a href="/">Trang chủ</a><span class="sprt icolocalpath"></span><a href="/">{{title}}</a></div>
    <div class="boxcontent clearfix">
        <div class="colfrist fl">
            <div class="bxcontent card" style="border: none">
                <div class="row">
                    {{#SUCCESS}}
                    <div class="bxnotify success">
                        <span>Giao dịch hoàn thành! </span>Bạn đã mua thẻ thành công.
                    </div>
                    {{/SUCCESS}}
                    {{#FAIL}}
                    <div class="bxnotify fail">
                        <span>Giao dịch không thành công! </span>Xin lỗi bạn vì sự bất tiện này, mời bạn quay lại sau.
                    </div>
                    {{/FAIL}}
                </div>
                <div class="rowcard">
                    <span class="row_st">Mã giao dịch</span>
                    <span class="row_nd"><strong>{{order_no}}</strong></span>
                    <span class="row_rd"><em>(Vui lòng ghi nhớ Mã GD để cung cấp cho chúng tôi khi cần)</em></span>
                </div>
                <div class="rowcard">
                    <span class="row_st">Ngày giao dịch</span>
                    <span class="row_nd"><strong>{{date_trans}}</strong></span>
                </div>
                <div class="rowcard">
                    <span class="row_st">Tổng tiền</span>
                    <span class="row_nd"><strong style="color:red">{{total_amount}} VNĐ</strong></span>
                </div>
                {{#CARD}}
                <div class="rowcard title clearfix">
                    <div class="boxcard fl">Loại thẻ</div>
                    <div class="colseri fl">Số seri</div>
                    <div class="colcode fl">Mã thẻ</div>
                </div>
                <div id="tableCards">
                    {{list_card}}
                </div>
                <div class="rowcard salecard_desktop" style="text-align: center">
                    <a class="btnaction" href="javascript:;" onclick="exportExcelCard();">Xuất Excel</a>
                    <a class="btnaction" href="javascript:;" id="copyDesktop">Copy mã thẻ</a>
                    <a class="btnaction" href="/">Tiếp tục mua hàng</a>
                </div>
                <div class="rowresultend mobi" align="center">
                    <a class="btnaction" href="javascript:;" id="sendEmail">Gửi mail</a>
                    <a class="btnaction" href="javascript:;" id="sendSMS">Gửi SMS</a>
                    <a class="btnaction" href="javascript:;" id="copyMobile">Copy mã thẻ</a>
                </div>
                <form action="/thanhtoan/xuatexcel.html" method="post" id="formExportExcel">
                    <input type="hidden" name="dataExcel" value="" />
                </form>
                {{/CARD}}
                {{#OTHER}}
                <table class="result" width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                        <td class="colbtn" colspan="4" style="text-align: center">
                            <a class="btnaction" href="/">Tiếp tục mua hàng</a>
                        </td>
                    </tr>
                </table>
                {{/OTHER}}
            </div>
        </div>
        <div class="colsecond fr">
            {{#CARD_PRICE}}
            <h3>Bảng giá thẻ điện thoại</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="5" id="tablePriceList">
                <tbody>
                    <tr class="bgselcard">
                        <td colspan="3">
                            <ul>
                                <li onclick="getListPrice('viettel');" data-type="viettel"><a href="javascript:;" {{viettel_current}}><span class="sprtcard logocard viettel"></span></a></li>
                                <li onclick="getListPrice('mobifone');" data-type="mobifone"><a href="javascript:;" {{mobifone_current}}><span class="sprtcard logocard mobifone"></span></a></li>
                                <li onclick="getListPrice('vinaphone');" data-type="vinaphone"><a href="javascript:;" {{vinaphone_current}}><span class="sprtcard logocard vinaphone"></span></a></li>
                                <li onclick="getListPrice('vietnamobile');" data-type="vietnamobile"><a href="javascript:;" {{vietnamobile_current}}><span class="sprtcard logocard vietnamobile"></span></a></li>
                                <li onclick="getListPrice('gmobile');" data-type="gmobile"><a href="javascript:;" {{gmobile_current}}><span class="sprtcard logocard gmobile"></span></a></li>
                            </ul>
                        </td>
                    </tr>
                    {{list_price_card}}
                </tbody>
            </table>
            {{/CARD_PRICE}}
            {{#GAME_PRICE}}
            <h3>Bảng giá thẻ game</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="5" id="tablePriceList">
                <tbody>
                    <tr class="bgselcard">
                        <td colspan="3">
                            <ul>
                                <li onclick="getListPrice('zing');" data-type="zing"><a href="javascript:;" {{zing_current}}><span class="sprtcard logocard zing"></span></a></li>
                                <li onclick="getListPrice('garena');" data-type="garena"><a href="javascript:;" {{garena_current}}><span class="sprtcard logocard garena"></span></a></li>
                                <li onclick="getListPrice('vtc');" data-type="vtc"><a href="javascript:;" {{vtc_current}}><span class="sprtcard logocard vtc"></span></a></li>
                                <li onclick="getListPrice('gate');" data-type="gate"><a href="javascript:;" {{gate_current}}><span class="sprtcard logocard gate"></span></a></li>
                                <li onclick="getListPrice('ongame');" data-type="ongame"><a href="javascript:;" {{ongame_current}}><span class="sprtcard logocard ongame"></span></a></li>
                                <li onclick="getListPrice('mobay');" data-type="mobay"><a href="javascript:;" {{mobay_current}}><span class="sprtcard logocard mobay"></span></a></li>
                                <li onclick="getListPrice('bit');" data-type="bit"><a href="javascript:;" {{bit_current}}><span class="sprtcard logocard bit"></span></a></li>
                            </ul>
                        </td>
                    </tr>
                    {{list_price_card}}
                </tbody>
            </table>
            {{/GAME_PRICE}}
            {{#ZINGXU}}
            <h3>Bảng giá ZingXu</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tbody><tr class="bgselcard">
                        <td colspan="3">
                            <ul>
                                <li><a class="current" href="javascript:;"><span class="sprtcard logocard zingxu"></span></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="txtprotbl">
                        <td colspan="2"><strong>1 ZingXu</strong> giá <strong>100</strong> VNĐ</td>
                    </tr>
                    <tr class="titletbl">
                        <td>ZingXu</td>
                        <td>Giá bán</td>
                    </tr>
                    {{list_price_zx}}
                </tbody>
            </table>
            {{/ZINGXU}}
        </div>
    </div>
</div>