<div class="wrap">
    <div class="localpath"><a href="#">Trang chủ</a><span class="sprt icolocalpath"></span><a href="#">Mua mã thẻ điện thoại</a><span class="sprt icolocalpath"></span><em>Viettel</em></div>
    <div class="boxpromotion">VIETTEL khuyến mại 50% ngày <strong>30/10</strong> đến <strong>31/10/2015</strong></div>
    <div class="boxpayment clearfix">
        <div class="row">
            <span class="row_st">Thanh toán</span>
            <span class="row_nd"><span>95.000 <em>VNĐ</em></span></span>
        </div>
        <p>Chọn ngân hàng thanh toán</p>
        <ul class="clearfix">
            <li class="sel"><a href="#"><span class="sprt icoselcard"></span><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li class="sel"><a href="#"><span class="sprt icoselcard"></span><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
            <li><a href="#"><span class="sprtbank logobank vietcombank"></span></a></li>
        </ul>
        <p class="ctnbtn"><a href="#" class="btnaction">Thanh toán</a><a href="#" class="btncancel">Quay lại</a></p>
    </div>
</div>