<div class="wrap">
    <div class="localpath"><a href="javascript:;">Trang chủ</a><span class="sprt icolocalpath"></span><a href="javascript:;">{{title}}</a></div>
    <!--<div class="boxinfo clearfix">
        <p class="title">Thông tin cá nhân <em>(Thông tin dùng để tra cứu khi có khiếu nại)</em></p>
        <div class="row">
            <span class="row_st">Họ và tên <span class="txtred">*</span></span>
            <span class="row_nd"><input type="text" id="userName" value="" maxlength="100"></span>
        </div>
        <div class="row">
            <span class="row_st">Email <span class="txtred">*</span></span>
            <span class="row_nd"><input type="text" id="email" value="" maxlength="100"></span>
        </div>
        <div class="row">
            <span class="row_st">Số điện thoại <span class="txtred">*</span></span>
            <span class="row_nd"><input type="text" id="phoneNumber" value="" maxlength="20"></span>
        </div>
    </div>-->
    <div class="boxpayment clearfix">
        <div class="row">
            <span class="row_st">Thanh toán</span>
            <span class="row_nd"><span id="totalAmount">{{total_amount}}</span><span><em> VNĐ</em></span></span>
        </div>
        <div class="row">
            <span class="row_st">Phí ngân hàng</span>
            <span class="row_nd"><span id="fee" class="fee">0<em> VNĐ</em></span></span>
        </div>
        <p>Chọn thẻ ATM nội địa</p>
        <ul class="clearfix" id="listBank">
            {{list_bank_atm}}
        </ul>
        <p class="boxpcc">Hoặc thẻ thanh toán quốc tế</p>
        <ul class="clearfix" id="listBank">
            {{list_bank_pcc}}
        </ul>
        <p class="ctnbtn salecard_desktop">
            <a href="javascript:;" onclick="acceptPayment();" class="btnaction">Thanh toán</a>
            <a href="javascript:;" class="btncancel" onclick="backChoose();">Quay lại</a>
        </p>
        <p class="ctnbtn salecard_mobile">
            <a href="javascript:;" onclick="acceptPayment('mobile');" class="btnaction">Thanh toán</a>
            <a href="javascript:;" class="btncancel" onclick="backChoose();">Quay lại</a>
        </p>
    </div>
</div>