<div class="wrap">
    <div class="localpath"><a href="/">Trang chủ</a><span class="sprt icolocalpath"></span><a href="/">Nạp tiền game</a><span class="sprt icolocalpath"></span><em>ZingXu</em></div>
    <div class="boxcontent clearfix">
        <div class="colfrist fl">
            <div class="bxcontent">
                <div class="row">
                    <span class="row_st">Tên tài khoản</span>
                    <span class="row_nd"><input type="text" id="accountName" value="" placeholder="VD: lantrinh86"></span>
                    <!--<span class="row_rd"><span class="sprt icocheck"></span>Gamer</span>-->
                    <span class="row_rd" style="display:none"><span class="sprt icoincorrect"></span></span>
                </div>
                <div class="row report" style="display: none">
                    <span class="row_st">&nbsp;</span>
                    <span class="row_nd">Tên tài khoản không hợp lệ</span>
                    <span class="row_rd">&nbsp;</span>
                </div>
                <div class="row">
                    <span class="row_st">Mệnh giá</span>
                    <span class="row_nd">
                        <select id="pricezx" onchange="calTotalAmountZX();">
                            {{list_zx}}
                        </select>
                    </span>
                    <span class="row_rd">&nbsp;</span>
                </div>
                <div class="row">
                    <span class="row_st">Thanh toán</span>
                    <span class="row_nd"><span><span id="totalAmount">{{total_amount}}</span> <em>VNĐ</em></span></span>
                    <span class="row_rd">&nbsp;</span>
                    <input type="hidden" id="zxPrice" value="{{zx_price}}" />
                </div>
                <div class="row ctnbtn">
                    <span class="row_st">&nbsp;</span>
                    <span class="row_nd"><a class="btnaction" href="javascript:;" onclick="acceptTopupGame();">Tiếp tục</a></span>
                    <span class="row_rd">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="colsecond fr">
            <h3>Bảng giá ZingXu</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tbody><tr class="bgselcard">
                        <td colspan="3">
                            <ul>
                                <li><a class="current" href="#"><span class="sprtcard logocard zingxu"></span></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="txtprotbl">
                        <td colspan="2"><strong>1 ZingXu</strong> giá <strong>100</strong> VNĐ</td>
                    </tr>
                    <tr class="titletbl">
                        <td>Mệnh giá</td>
                        <td>Giá bán</td>
                    </tr>
                    {{list_price_zx}}
                </tbody>
            </table>
        </div>
    </div>
</div>