<div class="wrap">
    <div class="localpath"><a href="#">Trang chủ</a><span class="sprt icolocalpath"></span><a href="#">Nạp tiền game</a><span class="sprt icolocalpath"></span><em>ZingXu</em></div>
    <div class="boxpromotion">VIETTEL khuyến mại 50% ngày <strong>30/10</strong> đến <strong>31/10/2015</strong></div>
    <div class="boxcontent clearfix">
        <div class="colfrist fl">
            <div class="bxcontent">
                <div class="row">
                    <span class="row_st">Tên tài khoản</span>
                    <span class="row_nd"><input type="text" value="" placeholder="VD: lantrinh86"></span>
                    <!--<span class="row_rd"><span class="sprt icocheck"></span>Gamer</span>-->
                    <span class="row_rd"><span class="sprt icoincorrect"></span></span>
                </div>
                <div class="row report">
                    <span class="row_st">&nbsp;</span>
                    <span class="row_nd">Tên tài khoản không hợp lệ</span>
                    <span class="row_rd">&nbsp;</span>
                </div>
                <div class="row">
                    <span class="row_st">Số ZingXu</span>
                    <span class="row_nd"><input type="text" value="" placeholder="Nhập số ZingXu "></span>
                    <span class="row_rd">&nbsp;</span>
                </div>
                <div class="row">
                    <span class="row_st">Thanh toán</span>
                    <span class="row_nd"><span>95.000 <em>VNĐ</em></span></span>
                    <span class="row_rd">&nbsp;</span>
                </div>
                <div class="row ctnbtn">
                    <span class="row_st">&nbsp;</span>
                    <span class="row_nd"><a class="btnaction" href="#">Tiếp tục</a></span>
                    <span class="row_rd">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="colsecond fr">
            <h3>Bảng giá thẻ điện thoại</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tbody><tr class="titletbl">
                        <td>Mệnh giá</td>
                        <td>Giá bán</td>
                    </tr>
                    <tr class="txtprotbl">
                        <td colspan="2">Giảm giá <span>4%</span>  thẻ <strong>VIETTEL, MOBI, VINA</strong></td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>10.000</td>
                        <td>9.600</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>20.000</td>
                        <td>19.200</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>50.000</td>
                        <td>48.000</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>100.000</td>
                        <td>96.000</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>200.000</td>
                        <td>196.000</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>300.000</td>
                        <td>288.000</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>500.000</td>
                        <td>480.000</td>
                    </tr>
                    <tr class="txtprotbl">
                        <td colspan="2">Giảm giá <span>5%</span>  thẻ <strong>GMOBILE, VNMOBILE</strong></td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>10.000</td>
                        <td>9.500</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>20.000</td>
                        <td>19.000</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>50.000</td>
                        <td>47.500</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>100.000</td>
                        <td>95.000</td>
                    </tr>
                    <tr class="bgwhitetbl">
                        <td>200.000</td>
                        <td>190.000</td>
                    </tr>
                    <tr class="bggreytbl">
                        <td>300.000</td>
                        <td>285.000</td>
                    </tr>
                    <tr class="bgwhitetbl end">
                        <td>500.000</td>
                        <td>475.000</td>
                    </tr>
                </tbody></table>
        </div>
    </div>
</div>